<div class="text-left col-sm-4">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2>Event Info</h2>
		</div>
		<div class="panel-body text-left">
			<p>
				<label>Created at: </label> {{eventCtrl.event.createdAt | date:"dd.MM.yyyy H:mm"}} </br>
				<label>Exception:</label> {{eventCtrl.event.exception}} </br>
				<label>Info:</label> {{eventCtrl.event.info}} </br>
				<label>Fragment:</label> {{eventCtrl.event.fragment}} </br>
				<label>Version:</label> {{eventCtrl.event.version}} </br>
			</p>
		</div>
	</div>
</div>

<div class="text-left col-sm-6">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2>Comments</h2>
		</div>
		<div class="panel-body ">
			<form class="form-inline" name="eventCtrl.newCommentForm" novalidate>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Enter your comment" ng-model="eventCtrl.comment.text">
				</div>
				<button class="btn btn-info" ng-click="eventCtrl.addComment()">Send</button>
			</form>
			<div ng-repeat="comment in eventCtrl.event.comments">
				<img src="./././images/user.png" / class="pull-left"> Posted by: <i>{{comment.signedBy}}</i><br/> {{comment.text}}
				<br/>
				<span style="color:gray"> on {{comment.createdAt |  date:"dd.MM.yyyy H:mm" }} </span>
				<br/><a class="col-sm-offset-1" ng-show="comment.comments.length" ng-click="eventCtrl.getComments(comment); eventCtrl.showComments(comment._id);">More comments...</a>
				<a class="col-sm-offset-1" ng-show="!comment.comments.length" ng-click="eventCtrl.showComments(comment._id);">Reply</a>
				<div id="{{comment._id}}" style="display:none;">
					<div ng-repeat="li in eventCtrl.list" class="col-sm-offset-1">
						<img src="./././images/user.png" / class="pull-left"> Posted by: <i>{{li.signedBy}}</i><br/> {{li.text}}
						<br/>
						<span style="color:gray"> on {{li.createdAt |  date:"dd.MM.yyyy H:mm" }} </span>
					</div>
					<form class="form-inline col-sm-offset-2" name="eventCtrl.newComment2Form" novalidate>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter your comment" ng-model="eventCtrl.comment2.text">
						</div>
						<button class="btn btn-info" ng-click="eventCtrl.addComment2(comment._id);">Reply</button>
					</form>
				</div>
				<p></p>
			</div>
		</div>
	</div>
</div>