<div>
	<div class="alert alert-info" ng-show="appCtrl.showErrorMessage">
		You do not have any registered app. Please go to page <b>register app</b>.
	</div>
	<div class="container-fluid" >
		<div class="col-sm-6" ng-repeat="app in appCtrl.apps">
			<div class="panel panel-info" >
				<div class="panel-heading">
					<h2>{{app.name}}</h2>
				</div>
				<div class="panel-body text-left">
                    <p><b>Created at</b>: {{app.createdAt | date}} </br>
                    <b>Description:</b>{{app.description}} </br>
                    <b>Version:</b> {{app.version || "/"}} </br>
                    <b>Repository:</b> {{app.repo || "/"}} </br>
                    <b>Domain:</b> {{app.domain}} </br>
                    </p>
                    <button type="button" class="btn btn-default pull-right" ng-click="appCtrl.viewEvents(app._id)">View events</button>
                </div>
			</div>
		</div>
	</div>
</div>