<!-- work section -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h1 class="heading bold">WHAT WE DO</h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                <i class="icon-cloud medium-icon"></i>
                <h3>WEB SUPPORT</h3>
                <hr>
                <p>Our app is online based. All your data is stored in cloud.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                <i class="icon-lock medium-icon"></i>
                <h3>SAFE</h3>
                <hr>
                <p>All your data is safe in our cloud.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="fa fa-bug medium-icon"></i>
                <h3>CATCHING ALL ERRORS</h3>
                <hr>
                <p>Our sistem is working 24h being ready to catch all errors.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-envelope medium-icon"></i>
                <h3>EMAIL NOTIFICATION</h3>
                <hr>
                <p>All notifications you will get on your email address.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-chat medium-icon"></i>
                <h3>ONLINE SUPPORT</h3>
                <hr>
                <p>Our online support is working 24/7. Please feel free to contact us at any time.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                <i class="icon-mobile medium-icon"></i>
                <h3>RESPONSIVE LAYOUT</h3>
                <hr>
                <p>Our site is responsive. It is appropiate for all your devices. For PC, laptops, mobiles, tablets, etc.</p>
            </div>
        </div>
    </div>
</section>